body{
  background-color: #161024;
   background-repeat: no-repeat;
   background-size: cover;
} 
*{
    box-sizing: border-box;
    font-family: Arial, Tahoma, sans-serif;
}
.splash,.result{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(71, 89, 255, 0.651);
    z-index: 3;
    perspective: 1000px;
}
.result{
    display: none;
}
.removeNone{display: block;}
.splash>span{
    position:absolute;
    top:50%;left:50%;
    background-color: tomato;
    font-size: 18px;
    font-weight: bold;
    transform: translate(-50%,-50%) scale(0) ;
    padding: 15px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    transition:all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}
.splash>span:hover {
    background-color: rgb(252, 52, 17);
}
.gameInfo{
    border: 3px solid rgb(245, 122, 122);
    padding: 10px;
    margin:5px auto 20px;
    width: 70%;
    overflow: hidden;
    background-color: rgb(236, 233, 233);
    font-size: 18px;
  
}
.gameInfo .userName{
    float: left;
    width: 50%;
}
.gameInfo .wrTries{
    float: right;
    width: 50%;
    text-align: right;
}

.cardsContainer  {
    margin:0 auto;
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    
}
.cardsContainer .card{
    position: relative;
    height: 140px;
    flex-grow: 0;
    flex-basis: 140px;
    transition:transform 0.3s ease-in-out;
    transform-style:preserve-3d;
    cursor: pointer;
    margin: 0 5px 5px;
}
.cardsContainer .card .face{
    width:100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
}
.cardsContainer .card .front{
    background-color: rgb(245, 122, 122);
    z-index:2;
    text-align: center;
    line-height: 140px;
    transition: background-color 0.3s ease-in-out;
}
.cardsContainer .card .front:hover{
    background-color: rgb(255 36 36);
}
.cardsContainer .card .back{
    background-color: rgb(236, 233, 233);
    padding:10px;
    border-radius: 15px;
    z-index:1;
    transform: rotateY(180deg);
    transition:opacity 7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
}
.cardsContainer .card .back img{
    width:100%;
    height: 100%;
    
}
.cardsContainer .card:hover {
 transform: rotate(6deg) scale(1.01)
}

.cardsContainer .card .front::before{
    content:"!!";
    color: white;
    font-size: 100px;

}

.memory-game-blocks.no-clicking {
    pointer-events: none;
}

.cardsContainer .card.flipCard,
.cardsContainer .card.tempFlip{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.cardsContainer .card .back.beforeStart{
    transform: rotateY(0deg);
    z-index: 2;
    border-radius: 0;
    opacity:0;
}

